html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body > * {
  margin: 5px 0;
}

#output {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #d2d2d2;
  background-color: #2d2d2d;
  color: #ffffff;
  flex-grow: 1;
  width: 100;
}